name: Build and check a Docker image core

on: push

jobs:
  build1:
    uses: raviroch/Reuse/.github/workflows/build.yml@main
    with:
      TAG: python-check
      USER: raviroch
      # REGISTRY: ghcr.io
      VERSION: v1
